      <div>
        <h1>{{ site.title }}</h1>
        <h2>{{ site.tagline }}</h2>
        <dl>
            <dl>
                <dt>On Github</dt>
                <dd><a href="https://github.com/sanx">github.com/sanx</a></dd>
                <dt>On LinkedIn</dt>
                <dd><a href="https://www.linkedin.com/pub/gerardo-moad/3/501/b27">linkedin.com/pub/gerardo-moad</a></dd>
                <dt>On Twitter</dt>
                <dd><a href="https://twitter.com/sanx">twitter.com/sanx</a></dd>
            </dl>
      </div>
